
<div class="jumbotron", style="background-image: url(http://cdn.pratique.fr/sites/default/files/articles/semer-gazon.jpg)">
<center><font color="white"><h1>Welcome to the Tondeuse's page</h1>
<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg"%>.</font></p></center>
</div>
