
<div class="jumbotron", style="background-image: url(http://cdn.pratique.fr/sites/default/files/articles/semer-gazon.jpg)">
<center><font color="white"><h1>La Mega Tondeuse</h1>
<p>Cliquer ici pour en <%= link_to "Savoir plus", "#", class: "btn btn-primary btn-lg"%></font></p>
</center>
</div>



