
<div class="jumbotron", style="background-image: url(http://cdn.pratique.fr/sites/default/files/articles/semer-gazon.jpg)">
<center><font color="white"><h1>La Nouvelle Tondeuse Mow'ment</h1>
<p>Cliquer ici pour en <%= link_to "Savoir plus", "#", class: "btn btn-primary btn-lg"%></font></p>
</center>
</div>

<body>

	<center>
		<div class="jumbotron", style="background-color:#2ecc71; width:80%;">
			

		<h2><strong> L’achat d’une tondeuse est un achat conséquent et l’usage de ce produit est uniquement saisonnier.</strong></h2>

			<p>Nous avons donc pensé à permettre aux clients de rentabiliser leur achat en rendant l’usage de notre tondeuse tout au long de l’année.</p> 

			<p>Effectivement, notre tondeuses’utiliserait au printempset en été pour la tontetraditionnelle des pelouses mais aussi en automne poura aspirer et broyer les feuilles. En hiver notre produit serait utilisé pour déblayer la neige et répendre du sel grâce à un système d’épendage à l’arrière de la machine. Ce système pourrait, quant à lui, être également utilisé pour répendre de l’engraissur la pelouse au début du printemps. Ainsi, notre produit est utile toute l’année et le jardin restera impécable en permanence.</p>

			<p>Notons que notre produit doit être durable qui fonctionnera grâce à une batterie électrique qui se rechargerait via une prise qui se trouverait à l’intérieur de la maison. Nous envisageons, si cela est possible, la présence d’un panneau solaire sur la batterie. Pourquoi ce choix: nous avionspensé à poser le panneau solaire directement sur la structure de la tondeuse mais nous avons mis cette option entre paranthèses tout simplement parce que la tondeuse n’est pas une machine à laquelle on prend spécialementsoin.</p> 

			<p>Nous souhaiterons également introduire dans le bac à tonte des sacs réutilisables en plastique de maïs pour qu’unefois le bacplein le client n’ait plus besoin de transvaserl’herbe, les feuilles, du bac au sachet, ce qui estsouvent la partie la moinsagréable du travail.</p> 

			<p>Enfin notre tondeuse permettra aussi en gain de place dans son endroit de stockage grâce à son manche repliable.</p>
			<p style="text-align: right"><em>L'équipe <font color="#d35400">Mow'ment</font></em></p>
	 		</p>

	 	</div>
	</center>





 <p></p>
 <p></p>
 <p></p>
 <p></p>
 <p></p>
 <p></p>
 <p></p>
 <p></p>

</body>


