<div id="wrap">
<div id="main" class="container clear-top">
<div class="row">
<div class="span12">



</div>
</div>
</div>
</div>

<footer class="footer" style="background-color:#2c3e50">
  
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container">
    <div class="emailinfo">
      <p style="font-size:30px"><strong>Notre produit sortira sous peu</strong></p>
      <p>Soyer les premiers infomés de notre sortie, ci-dessous vous pouvez introduire votre adresse e-mail.</p>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Introduisez votre e-mail...">
    </div>
    <div class="school">
      <center>
      <p>Projet étudiant en collaboration avec:</p>
      <img src="http://www.helmo.be/CMS/Helmo/media/outilscomm/Logos/PNG/campus_guillemins.png?width=820&height=242&ext=.png"; class="helmo"/>
      <p></p>
      <p><img src="http://icons.iconarchive.com/icons/brainleaf/round-social/128/facebook-icon.png"; class="facebook"/>
      <img src="http://icons.iconarchive.com/icons/brainleaf/round-social/128/twitter-icon.png"; class="twitter"/>
      <img src="http://icons.iconarchive.com/icons/brainleaf/round-social/128/youtube-icon.png"; class="youtube"/></p>
      </center>
    </div>
    <div class="contactinfo">
      <p>Qui sommes-nous?</p>
      
      <p>Jeunes marketers de la catégorie économique de la haute école de l'Helmo. En passe de lancer un produit innovant aux caractéristiques incomparables comparé à ce que l'on retrouve sue le marché de la tondeuse actuellement.</p>
    
    </div>
  </div>

</footer>